In [1]:
import pandas as pd

In [3]:
gradebk = pd.read_csv("C:/Users/dhristipala/Desktop/Internships/virtual internship/marksheet.csv")
gradebk.head()

   id     Name  Gender  Age Section  Science  English  History  Maths
0   1  Bronnie  Female   13       C       21       81       62     49
1   2   Lemmie    Male   15       B       29       41       17     40
2   3    Danya  Female   14       C       12       87       16     96
3   4    Denna  Female   14       B       15       53       82     33
4   5  Jocelin    Male   14       A       43        6        3     21

In [4]:
# Calculate total marks
gradebk['total_marks'] = gradebk['Maths'] + gradebk['Science'] + gradebk['English'] + gradebk['History']

In [5]:
# Function to convert total marks to grade
def marks_to_grade(total_marks):
    if total_marks >= 270:
        return 'A'
    elif total_marks >= 240:
        return 'B'
    elif total_marks >= 210:
        return 'C'
    elif total_marks >= 180:
        return 'D'
    else:
        return 'F'

In [6]:
# Apply the function to convert total marks to grade
gradebk['grade'] = gradebk['total_marks'].apply(marks_to_grade)

In [9]:
# Display the gradebook
print("Gradebook:")
print(gradebk[['id', 'Name', 'Age', 'Section', 'total_marks', 'grade']])

Gradebook:
      id      Name  Age Section  total_marks grade
0      1   Bronnie   13       C          213     C
1      2    Lemmie   15       B          127     F
2      3     Danya   14       C          211     C
3      4     Denna   14       B          183     D
4      5   Jocelin   14       A           73     F
..   ...       ...  ...     ...          ...   ...
245  246    Nickie   13       C           78     F
246  247       Rog   13       B          138     F
247  248      Kaia   15       B          267     B
248  249      Anni   14       B          233     C
249  250  Fernande   15       B          216     C

[250 rows x 6 columns]

In [10]:
# Save the gradebook to a new CSV file
gradebk.to_csv('gradebook.csv', index=False)